{{#each this}}
<li class="tv_list">
    <a href="" class="tv_poster">
        <img class="tv_list_img" src="https://image.tmdb.org/t/p/w220_and_h330_face{{poster_path}}"
            alt="{{original_name}}">
        <h2 class="tv_list_name">{{name}}</h2>
    </a>
    <div class="tv_list_rate">{{vote_average}}</div>
    <div class="show_date" type='date'>{{first_air_date}}</div>
</li>
{{/each}}